@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,500&display=swap');
@import url(../src/conponants/main_root.css);
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--mainBgColor) !important;
}
.button_class{
  padding: 15px 50px ;
  border-radius: 5px ;
  background-color: #ffb300;
  color: #000;
  transition: all linear .2s;
  font-weight: 600;
  font-size: 15px;
}
.button_class:hover{
  background-color: #000;
  color: #fff;
}
img{
  width: 100% ;
}
li{
  list-style: none;
}
a{
  text-decoration: none !important;
}
 ul{
  padding: 0 !important;
}
p{
  line-height: 1.8;
}




@media screen and (max-width:767px) {
  h1{
    font-size: 36px !important;
  }
  h3 {
    font-size: 24px !important;
  }
}

@media screen and (min-width:768px) and (max-width:1024px) {

}